/* Empty. Add your own CSS if you like */
/* Suggestions Page */
.item-checkbox-right {
	float: right;
}

.text-padding-top {
	padding: 0.75rem;
}

.type-align {
	text-align: right;
}

.label-align {
	position: fixed;
}