<link href="../css/style.css" rel="stylesheet">

<ion-view view-title="Movie Suggestions">
  <ion-content>
    
    <!-- Search Bar -->
    <div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="suggestions-search-input" type="search" placeholder="Search">
      </label>
    </div> 

    <div class="list card">

    <!-- Genre -->
    <div>
      <ul class="list">
        <li class="item">          
          <div>
            Genre
          </div>
        </li>

        <li class="item">
          <div class="checkbox item-checkbox-right">
            <input type="checkbox">
          </div>
          <div class="text-padding-top">
            Adventure
          </div>
        </li>

        <li class="item">
          <label class="checkbox item-checkbox-right">
            <input type="checkbox">
          </label>
          <div class="text-padding-top">Comedy</div>
        </li>

        <li class="item">
          <label class="checkbox item-checkbox-right">
            <input type="checkbox">
          </label>
          <div class="text-padding-top">
            Crime</div>
        </li>

        <li class="item">
          <label class="checkbox item-checkbox-right">
            <input type="checkbox">
          </label>
          <div class="text-padding-top">Drama</div>
        </li>

        <li class="item">
          <label class="checkbox item-checkbox-right">
            <input type="checkbox">
          </label>
          <div class="text-padding-top">Documentary</div>
        </li>

        <li class="item">
          <label class="checkbox item-checkbox-right">
            <input type="checkbox">
          </label>
          <div class="text-padding-top">
            Horror</div>
        </li>

        <li class="item">
          <label class="checkbox item-checkbox-right">
            <input type="checkbox">
          </label>
          <div class="text-padding-top">Sci-fi</div>
        </li>

        <li class="item">
          <label class="checkbox item-checkbox-right">
            <input type="checkbox">
          </label>
          <div class="text-padding-top">Thriller</div>
        </li>
      </ul>
    </div>

    <!-- Length -->
    <div class="item">
      <label class="item-input item-select">
        <div class="input-label">Length</div>
        <select>
          <option>< 90 minutes</option>
          <option>90 to 120 minutes</option>
          <option>120 to 150 minutes</option>
          <option>150 to 180 minutes</option>
          <option>> 180 minutes</option>
        </select>
      </label>
    </div>

    <!-- Year -->
    <div class="item">
      <label class="item-input">
        <div class="input-label label-align">Year</div>
        <input class="type-align" type="number" min="2001" max="2014">
      </label>
    </div>
   
    <!-- Search Button -->
    <div class="row">
      <div class="col">
      <button class="button button-block button-positive">
        <i class="icon ion-film-marker"></i>
        Get Suggestions
      </button>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
