<ion-view view-title="Movie Suggestions">
  <ion-content>

    <!-- Search Bar -->
    <form ng-submit="searchSubmit()">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" id="suggestions-search-input" ng-model="movies.searchTerm" >
        <input type="submit" class="col button button-light" value="Search" id="suggestions-search-submit" >
      </label>
    </form>
    <div class="item item-divider">
      Get a suggestion...
    </div>

    <!-- Genre -->
    <div>
      <label class="item item-input">
        <div class="input-label">Genre</div>
      </label>
    </div>
    <!-- {{filters}} -->
    <div>
      <ul class="list">
        <li ng-repeat="genre in genres" class="item item-checkbox">
          <label class="checkbox">
            <!-- TODO: change ng-click code to be one function in controller -->
            <input type="checkbox" ng-model="genre.checked" ng-change="changeSelectedGenres(); changeSuggestedMovie()">
          </label>
          {{genre.name}}
          <img class="image-size" ng-src="img/{{genre.name}}.svg">
        </li>
      </ul>
    </div>

    <!-- Length -->
    <div>
      <label class="item item-input item-select">
        <div class="input-label">Length</div>
        <select ng-model="filters.runtimeRange">
          <option value="0,999">Any Length</option>
          <option value="0,90">< 90 minutes</option>
          <option value="90,120">90 to 120 minutes</option>
          <option value="120,150">120 to 150 minutes</option>
          <option value="150,180">150 to 180 minutes</option>
          <option value="180,999"> 180 minutes</option>
        </select>
      </label>
    </div>
<!--     {{filters.runtimeRange}}
 -->    <!-- Year -->
    <div>
      <label class="item item-input">
        <div class="input-label">Year <span id="year-range">{{yearRangeArray()[0]}}-{{yearRangeArray()[1]}}</span></div>
        <input ng-model="filters.yearRange" type="text" id="mySlider1" slider options="yearSliderOptions" />
        <!-- <input class="type-align" ng-model="selectedYear.value" ng-change="changeYearRange()" type="tel" min="2000" max="2016"> -->
      </label>
    </div>
    <!-- {{filters.yearRange}} -->

     <!-- Search Button -->
    <div>
    <!-- {{potentialSuggestions}} -->
    <a ng-href="#/tab/suggest/suggest-result" ng-click="suggestMovie()" class="button button-full button-positive">
      <i class="icon ion-film-marker"></i>
      Suggest a movie
    </a>
    </div>
  </ion-content>
</ion-view>
