<!-- <link href="../css/style.css" rel="stylesheet"> -->

<ion-view view-title="Movie Suggestions">
  <ion-content>
    <!-- Search Bar -->
    <div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="suggestions-search-input" type="search" placeholder="" ng-model="movies.searchTerm">
        <a href="#/tab/suggest/search" class="button button-search button-light">
          Search
        </a>
      </label>
    </div>
    <div class="item item-divider"></div>

    <!-- Genre -->
    <div>
      <label class="item item-input">
        <div class="input-label">Genre</div>
      </label>
    </div>
    {{filters}}
    <div>
      <ul class="list">
        <li ng-repeat="genre in genres" class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="genre.checked" ng-change="selectedGenres()">
          </label>
          {{genre.name}}
        </li>
        <!-- <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="filters.genre" ng-true-value="'Action, Adventure,'" ng-false-value="''">
          </label>
          Action + Adventure
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="filters.genre" ng-true-value="'Comedy,'" ng-false-value="''">
          </label>
          Comedy
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="filters.genre" ng-true-value="'Drama,'" ng-false-value="''">
          </label>
          Drama
        </li>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="filters.genre" ng-true-value="'Horror,'" ng-false-value="''">
          </label>
          Horror
        </li>

         <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="filters.genre" ng-true-value="'Sci-fi,'" ng-false-value="''">
          </label>
          Sci-fi
        </li> -->
      </ul>
    </div>

    <!-- Length -->
    <div>
      <label class="item item-input item-select">
        <div class="input-label">Length</div>
        <select>
          <option>< 90 minutes</option>
          <option>90 to 120 minutes</option>
          <option>120 to 150 minutes</option>
          <option>150 to 180 minutes</option>
          <option>> 180 minutes</option>
        </select>
      </label>
    </div>

    <!-- Year -->
    <div>
      <label class="item item-input">
        <div class="input-label">Year</div>
        <input type="number" min='2000' max='2015'>
      </label>
    </div>

     <!-- Search Button -->
    <div>
    <a href="#/tab/suggest/suggest-result"class="button button-full button-stable">
      Suggest a movie
    </a>
    </div>
  </ion-content>
</ion-view>
