<!--
This template loads for the 'tab.my-list-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="{{movie.title}}">
  <ion-content class="padding">
    
    <div class="list card">

      <!-- show when no results -->
      <div class="item item-divider" ng-hide="movie.title">
        Sorry!
      </div>
      <span class="item" ng-hide="movie.title">We couldn't a movie with that ID!</span>

      <div class="row" ng-show="movie.title">
        <div class="col col-50 item item-image">
          <img ng-src="{{movie.poster}}">
        </div>

        <div class="col col-50">
          <h4>{{movie.title}}</h4>
          <p>{{movie.year}}</p>
          <p>{{movie.runtime}}</p>
          <p>{{movie.genre}}</p>
          <p><b>Director:</b> {{movie.director}}</p>
        </div>
      </div>

      <div class="col">
        <p><b>Plot</b></p>
        <p>{{movie.plot}}</p>
      </div>

      <div class="row" ng-show="movie.title">
        <div class="col col-50">
          <button class="button button-block button-assertive">
            <i class="icon ion-social-youtube"></i>
            Youtube
          </button>
        </div>

        <div class="col col-50">
          <button class="button button-block button-calm">
            <i class="icon ion-social-vimeo"></i>
            Vimeo
          </button>
        </div>
      </div>

      <div class="row" ng-show="movie.title && movie.myList">
        <div class="col">
          <button  ng-click="movie.seen = true; movie.myList = false" class="button button-block button-balanced">
            <i class="icon ion-checkmark"></i>
            I've seen this movie
          </button>
          <button  ng-click="movie.myList = false; movie.seen = false" class="button button-block button-assertive">
            <i class="icon ion-close"></i>
            Remove from Watch List
          </button>
        </div>
      </div>
      <div class="row" ng-show="movie.title && movie.seen">
        <div class="col">
          <button ng-click="movie.seen = false" class="button button-block button-assertive">
            <i class="icon ion-close"></i>
            I've havent seen this movie
          </button>
        </div>
      </div>
      <div class="row" ng-show="movie.title && !movie.seen && !movie.myList">
        <div class="col">
          <button ng-click="movie.myList = true; movie.seen = false" class="button button-block button-balanced">
            <i class="icon ion-eye"></i>
            Add to my watch list
          </button>
          <button ng-click="movie.seen = true; movie.myList = false" class="button button-block button-positive">
            <i class="icon ion-checkmark"></i>
            I've seen this movie
          </button>
        </div>
      </div>
  </div>
  </ion-content>
</ion-view>