<ion-view view-title="Results for '{{movies.searchTerm}}'">
<ion-content class="padding">

<div class="movie-grid-container">
  <!-- loop through each movie and display it as a custom grid item -->
  <a ng-repeat="movie in movies | filter:movies.searchTerm" class="item movie-item" href="#/tab/suggest/movie/{{movie.id}}">
    <img class="movie-item-poster" ng-src="{{movie.poster}}">
    <h2 class="show-text">{{movie.title}}</h2>
    <p>{{movie.year}}</p>
  </a>
</div>

<!-- Show if no results -->
<div class="card" ng-hide="(movies | filter:movies.searchTerm).length">
  <div class="item item-divider">
    No results for '{{movies.searchTerm}}'
  </div>
  <span class="item" ng-hide="suggestedMovie.title">Try a different search.</span>
</div>

</ion-content>
</ion-view>